[mysqld]
user            = mysql
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
port            = 3306
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
lc-messages-dir = /usr/share/mysql
skip-external-locking
myisam-recover          = BACKUP
expire_logs_days        = 10
symbolic-links=0
low-priority-updates
skip-name-resolve

#If you use MyISAM tables, use google for determining optimal size for key_buffer_size
#key_buffer_size=
table_cache             =1024
thread_cache_size       =16
query_cache_size        =64M
query_cache_limit       = 1M
max_allowed_packet      = 16M
max_binlog_size         = 100M
thread_stack            = 192K

# InnoDb
#If you use InnoDB tables set innodb_buffer_pool_size parameter to 70-80% of RAM
#innodb_buffer_pool_size=
innodb_file_per_table
innodb_additional_mem_pool_size =256M
innodb_flush_log_at_trx_commit  =2
innodb_log_file_size            =128M
innodb_log_buffer_size          =8M
innodb_log_group_home_dir=/var/lib/mysql/

[mysqld_safe]
log-error       =/var/log/mysql.log
socket          = /var/run/mysqld/mysqld.sock
nice            = 0

[mysqldump]
add-drop-table
extended-insert
quick
quote-names

[myisamchk]
key_buffer=32M
sort_buffer=32M
read_buffer=16M
write_buffer=16M

[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
