/**
 *  Site Customized Style.
 *
 *  SAP Color   - https://experience.sap.com/fiori-design-web/colors/ & SAP GUI
 */

/*  Resize font - https://stackoverflow.com/questions/45999420/how-to-increase-bootstrap-4-font-size  */
html {
    font-size: 14px;
} 

body {
    background-color:#FBFCFD;
}

/* Heading */

.sapds-slogan {
    padding-top:5px;
    padding-bottom:0px;
}

.sapds-menu {
    background-color: #F2AA00;
}

/* Hover menu - https://bootsnipp.com/snippets/Vm7d */
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}


/* Side bar */


/* Main Card */

.sapds-card-header {
    background-color:#B9CEDF;
    border-style:solid;
    border-width:1px;
    border-color:#678EB7;
    box-shadow:2px 2px 1px #A8B8C7;
}

.sapds-card-body {
    background-color: #DFEBF5;
}

caption.sapds-alv {
    background-color:#BACFDF;
    border-color:#A5AEB7;
    border-style:solid;
    border-width:1px;
    caption-side: top;
    font-size:1em;
    padding-bottom: .1em;
    padding-left: .5em;
    padding-top: .1em;
    text-align:left;
    white-space:nowrap;
}

th.sapds-alv {
    background-color:#F2E1AD;
    border:2px solid #69655C;
    box-shadow:2px 2px #69655C;
}
td.sapds-alv {
    background-color:#DBE4F3;
    border:1px solid #A5AEB7;
}

td.sapds-gui-label {
    border-bottom-style:solid;
    border-bottom-color:#A5AEB7;
    border-width:1px;
    min-width:15em;
}

td.sapds-gui-field {
    background-color:#DBE5F1;
    border-width:1px;
    border-style:solid;
    border-color:#A5AEB7;
    font-size:1em;
    padding:2px 7px 2px 7px;
}
